<!DOCTYPE html>
<html>
  <head>
    <title>BetterThanAirbnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless notice.blank? %>
    <%= notice %>
  <% end %>
  <% unless alert.blank? %>
    <%= alert %>
  <% end %>

  <% if member_signed_in? %>
    <%= render 'shared/logged_in_header' %>
  <% else %>
      <%= render 'shared/logged_out_header' %>
  <% end %>
    <%= yield %>
  </body>
</html>
